---
import type { WorkingItem } from "../data/now.types";

type Props = { items?: WorkingItem[] };
const { items = [] } = Astro.props as Props;
---

<div class="section-now__grid-item">
  <h3>Working On</h3>
  {
    items.length === 0 ? (
      <p>No current projects</p>
    ) : (
      <ul class="working-list">
        {items.map((item) => {
          const renderText = () => {
            if (!item.link || !item.linkText) {
              return item.text;
            }
            const parts = item.text.split(item.linkText);
            return (
              <>
                {parts[0]}
                <a href={item.link} target="_blank">
                  {item.linkText}
                </a>
                {parts[1]}
              </>
            );
          };
          return (
            <li key={item.id} class="working-list__item">
              &mdash; {renderText()}
            </li>
          );
        })}
      </ul>
    )
  }
</div>
